
<div class="header">
    <h2>Bank Wibu</h2>
    <div class="user">
        <a href="/login"><button id="login">Login</button></a>
        <a href="/regis"><button id="regis">Registrasi</button></a>
    </div>
</div>