
<div class="navbar">
    <a href="/">Home</a>
    <div class="dropdown">
      <button class="dropbtn">Anime</button>
      <div class="dropdown-content">
        <a href="/top-anime">Top Anime</a>
        <a href="/seasonal-anime">Seasonal Anime</a>
        <a href="/upcoming-anime">Upcoming Anime</a>
      </div>
    </div> 

    <div class="dropdown">
        <button class="dropbtn">Manga</button>
        <div class="dropdown-content">
          <a href="/top-manga">Top Manga</a>
          <a href="/latest-manga">Latest Manga</a>
        </div>
      </div> 
      <a href="/news">News</a>
      <a href="/about">About</a>
      <input type="text" placeholder="Search" id="search" style="float: right;">
</div>