<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <!-- LINK CSS -->
    <link rel="stylesheet" href="css/about.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" href="css/footer.css">
    <!-- Link Script -->
    <script src="script.js"></script>
</head>
<body>
    <%- include('layouts/header') %> 
    <%- include('layouts/nav') %> 
    <div class="container">
        <h5>The Teams</h5>
        <h3>Mari Kita Lihat Tim Pengembang <br> Website Bank Wibu</h3>
        <div id="all-box-profile"></div>
    </div>
    <%- include('layouts/footer') %> 
    <script src="script/profile.js"></script>
</body>
</html>