body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Verdana, sans-serif; 
}

.container {
  padding: 20px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 100%;
  
}


.article {
  width: 95%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0 6px 4px 0 rgba(0, 0, 0, 0.2);
}

.article h2{
  margin: 20px;
}

#all-box {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.card-article {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 10px;
  border-radius: 10px;
  height: auto;
  width: auto;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.card-article > *{
  margin: 7px;
}

.card-article a {
  font-size: 12px;
  color: white;
  background-color: red;
  border: 1px solid red;
  text-decoration: none;
  padding: 5px;
  border-radius: 20px;
  width: fit-content;
  transition: 0.5s;
}

.card-article a:hover{
  color: red;
  background-color: white;
  border: 1px solid red;
}

.card-article img {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.card-article h4{
  width: 300px;
  font-weight: bold;
  transition: 0.5s;
  font-size: 16px;
}

.card-article h4:hover{
  color: #f77a7a;
}

.card-article p{
  width: fit-content;
  font-size: 10px;
  opacity: 0.8;
}


.aside {
  padding: 10px;
  width: 100%;
  height: 50%;
  border-radius: 10px;
  box-shadow: 0 6px 10px 0px rgba(0, 0, 0, 0.2);
}

#list-trending {
  width: 100%;
  height: 90%;
}

.trending {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: 0.5s;
}

.trending:hover{
  margin-top: 10px;
}


.trending img {
  height: 80px;
  width: 80px;
  margin: 10px;
  border-radius: 5px;
}

.trending h4{
  width: 200px;
  height: fit-content;
  font-size: 12px;
  transition: 0.5s;
}

.trending h4:hover{
  color: red;
}



