body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: Verdana, sans-serif; 
}

.container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
/*css ranking*/
.kiri {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: black;
  opacity: 0.9;
  z-index: 1;
  margin-top: -52px;
  margin-left: 20px;
}

.kiri p {
  color: white;
  font-size: 20px;
  margin: 0;
  padding: 0;
  height: fit-content;
}
/*css ranking end*/

.sideLeft h3{ 
  margin-inline: 20px;
  margin-top: 0px;
}

.article {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 2%;
  border: none;
  width: 100%;
  height: 75%;
}

.article h2 {
  margin-left: 50px;
}



#all-box-manga {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  height: 100%;
  width: 95%;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}

.card-manga img {
  margin: 20px;
  width: 100px;
  height: 150px;
}

.card-manga {
  margin: 25px;
  box-shadow: 0 6px 6px 1px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 300px;
}

.desc{
  margin-top: 20px;
  display: grid;
  grid-template-rows: repeat(4, fit-content);
  gap: 8px;
}

.desc h2{
  margin: 0;
  padding: 0;
  font-size: 14px;
  width: 130px;
}

.desc p{
  margin: 0;
  padding: 0;
  width: 130px;
  font-size: 12px;
}

.sidebar a:hover {
  color: #f1f1f1;
}

/* The sidebar menu */
.sideLeft {
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  left: 0;
  background-color: #FFCCCC; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: scroll;
  border: none;
  width: 0;
  height: 300px;
  border-radius: 0 10px 10px 0;
  top: 190px;
  padding-top: 35px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  margin-top: 5%;
}

.sideLeft::-webkit-scrollbar{
  display: none;
}

/* The button used to open the sidebar */
.open-btn-left {
  cursor: pointer;
  background-color: grey;
  color: white;
  padding: 15px 5px;
  border: none;
  margin-top: 200px;
  position: fixed;
  top: 250px;
  z-index: 10;
  margin-right: 50px;
}

.open-btn-left:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#mainleft {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 0px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sideLeft {padding-top: 15px;}
  .sideLeft a {font-size: 18px;}
}

#header-top-anime{
  position: absolute;
  left: 100px;
  margin-bottom: 52px;
}

.material-symbols-outlined {
  color: #FFAFAF;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 15px;
  margin-right: 50px;
 }

 .content img{
  width: 300px;
  height: 150px;
 }
 
 /* Child Text Container */
 .content div{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 40px;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: visibility 0s, opacity 0.5s linear; 
  transition: 0.5s;
  height: fit-content;

 }
 
 /* Hover on Parent Container */
 .content:hover{
  cursor: pointer;
 }
 
 .content:hover div{
  width: 150px;
  padding: 8px 15px;
  visibility: visible;
  opacity: 0.7; 
  transition: 0.5s;
 }

 @media screen and (max-width: 1920px) {
  .content {margin-left: 55px;}
  .sideLeft {height: 450px;}
  .sideLeft {top: 115px;}
  .content img {width: 350px; height: 150px;}
 }

 @media screen and (max-width: 1440px) {
  .content {margin-left: 30px;}
  .sideLeft {height: 400px;}
  .sideLeft {top: 190px;}
  .content img {width: 300px; height: 150px;}
 }

 @media screen and (max-width: 1366px) {
  .content {margin-left: 50px;}
  .sideLeft {height: 325px;}
  .sideLeft {top: 125px;}
  .content img {width: 250px; height: 100px;}
 }


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
